<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    
    <title>{% block title %}
    
    {% endblock %}</title>
    
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}" />

    
</head>
<body>

{% block special %}


{% endblock %}



    {% block heading %}
        
    {% endblock  %}
<div class="container">
    <div class="row"> 
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
<div style="color:green">
        {{ message }}
</div>
    </li>
    {% endfor %}
</ul>
{% endif %}
    

        {% block content %}

        {% endblock  %}

    </div>

</div>
<div >
    
    
</div>
<div align="center" style="margin-top:3%">
<a href="{% url 'home' %}" class="btn btn-danger btn-rounded" style="background-color:orange;width:10%;height:70%"> Home </a>            

</div>



</body> 
</html>
