{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}

<div style="padding-top:4%;padding-left:6%">
  {% if request.user.is_superuser %}
        <div>

<a href="{% url 'eventposting' %}" class="btn btn-danger btn-rounded">Add New Event</a>            
        </div>
    {% else %}
    <div>

<a href="{% url 'logout' %}" class="top-menu btn btn-danger" style="width:10%;margin-left:80%">LOG OUT</a>
            </div>
    {% endif %}
</div>



<div class=" row">
   <img class="img-thumbnail" src="{{ object.detailed_images.url }}" width=100% >
</div><br>
    <div class="container ">
    <div class="row">
    <div class="col-md-3 color" style="font-style:italic">
               <b> {{ object.date }}</b>
    </div>
    </div><br>
    <div class="row">
            <div class="col-md-1">
            </div>
    <div class="col-md-8">

                   <div class="color" style="font-style:italic"><b>Title:</b> {{ object.event_title }}</div><br>
                   <div class="color" style="font-style:oblique"><b> Ticket Price:Rs.</b> {{ object.price }} </div><br>
                   <div class="color" style="font-style:oblique" ><b> Venue Details:</b>  {{ object.venue }}</div><br>
                  
    </div>
            <div class="col-md-3 b box ">
                    <p style="font-size:25px"> <b>Detailed Description<b> </p>
                        {{ object.event_description }}
            </div>
     </div>



<div class="main_comment_section">
{%if comment%}
{%for comments in comment %}
            <blockquote class="blockquote">
            <p class="mb-0">{{ comments.comment }}</p>
            <footer class="blockquote-footer">by <cite title="Source Title">{{ comments.user|capfirst }}</cite></footer>
            </blockquote>
{% endfor %}
{% endif %}
</div>


        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
</div>
</div>

    
{% endblock  %}

