
{% load bootstrap3 %}
{% load static %}
<head>

	   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}" />
	</head>
<div class="row">
<div class="col-md-4">
<h1>home</h1>
<h3>Hi {{request.user.name}} ,</h3>
</div>
<div class="col-md-4">
<a href="/account/eventposting" style="background-color:black;color:white;text-decoration:none;font-size:200%;border-radius: 6px;">POST AD</a>
</div>
<br/>
<div class="col-md-4">
<a href="{% url 'logout' %}" style="background-color:black;color:white;text-decoration:none;font-size:200%;border-radius: 6px;">LOG OUT</a>
</div>
</div>
  <a href="{% url 'login' %}" class="top-menu">Log in <span class="glyphicon glyphicon-plus"></span></a>

{% block content %}
    
{%endblock%}


