{% extends "base.html" %}
{% block title %}
    Register
{% endblock  %}
{% block heading %}
  <a href="{% url 'login' %}" class="top-menu btn btn-danger" style="width:10%;background:green;margin-left:80%;margin-top:5%">Log In </a>
<center style="margin-top:5%">
    <h1> Register  </h1>
</center>
{% endblock  %}

{% block content %}
<div align="center">
<center style="margin-top:3%;width:30%">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
</center>
</div>
{% endblock  %}
