{% extends 'base.html' %}


{% block content %}

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/
JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<div style="padding-top:4%;padding-left:6%">
<div class="p-3 mb-2 bg-dark text-white row">
    {% if request.user.is_superuser %}
         <a href="{% url 'eventposting' %}" class="btn btn-danger btn-rounded " >Add New Event</a>            
    {% endif %}
    <a href="{% url 'logout' %}" class="top-menu btn btn-danger" style="width:10%;margin-left:80%">LOG OUT</a>
</div>
{% for temp in object_list %}
<div class="col-md-3"><br><br>
<div class="card"  style="background-color:white">
	{%if temp.event_images %}
    <img class="card-img-top" width=200px height=200px src="{{temp.event_images.url}}"  alt="Card image cap">
    {% else %}
    {%endif%}
    <div class="card-body">
      <h4 class="card-title" >From {{ temp.event_title }}</h4>
      <p style="font-size:150%"> {{ temp.venue }} </p>
      <a href="{% url 'Event_detail' temp.id %}" class="btn btn-primary" style="width:100%">View More</a>
{% if request.user.is_superuser %}
<div class="row" style="margin-top:10%">
{% ifequal request.user.email  temp.creator_name.email %}
      <a href="{% url 'eventupdate' temp.id %}" class="btn btn-info" style="margin-left:6%;width:38%;">Edit</a>
      <form method="POST" action="{% url 'eventdelete' temp.id %}">{% csrf_token %}
      <input type="submit" value="DELETE" class="btn btn-danger" style="width:155%;margin-left:55%" >
      </form>
 {% endifequal %}
</div>
{% endif %}
    </div>
  </div>
  </div>
{% endfor %}
{% endblock  %}

