
{% extends 'base.html' %}
{% load bootstrap3 %}
{% block special %}

{% endblock %}




{% block heading %}

 <div style="padding-left:76%;padding-top:4%">

<a href="{% url 'display' %}" class="btn btn-danger btn-rounded">Go To View Page</a>            
        </div>

    <h1 align="center" style="margin-top:4%"> Post Event</h1>
{% endblock  %}

{% block content %}
<div style="width:50%;margin-left:25%;" >
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
       <!-- {{ form.as_p }} -->
        {% buttons %}
        <button type="submit" class="btn btn-primary" style="background:green;width:100%">
            Submit
        </button>
</div>
    {% endbuttons %}
    {% endblock  %}
