.body{
background-color:rgb(179, 174, 174);
}
.color{
    color:rgb(99, 98, 98);
    font-size:30px;
}
.box{
    width: 25%;
    border: 1px solid gray;
    margin: 0; 
}
.b{
    word-wrap: break-word;

}


